main {
    @include grid-row();

    #content{
        @include grid-row();
        max-width:100%;
        text-align: center; 
        font-family: $font-primary;

        h2 {
            font-family: $font-primary-header;
            font-size: 2em;
            margin: 0;
            padding: 20px 0px;
            }

        button {
            background-color: $primary-btn-color;
            color: white;
            padding: 10px;
            border-radius: 5px;
            text-transform: uppercase;
        }

        button:hover {
            background-color: $hover-btn-color;
        }

        img {
            max-width: 50%;
        }

        
        #products-container {
            @include grid-column(9);
            padding: 0px !important;
            border-right: solid 1px $primary-border-color;

            h2 {
                background-color: $secondary-header-color;
            }

            .row-items {
                @include grid-row();

                .items {
                    @include grid-column(12);
                    padding: 15px;
                    border-bottom: solid 1px $primary-border-color;

                    @include breakpoint($large-screen) {
                        @include grid-column(4);
                    }


                    // img {
                    //     max-width: 50%;
                    // }

                    // button {
                    //     background-color: $primary-btn-color;
                    //     color: white;
                    //     padding: 10px;
                    //     border-radius: 5px;
                    // }

                    // button:hover {
                    //     background-color: $hover-btn-color;
                    // }

                }
            }
        }
    }
}