main {
    @include grid-row();

    #content{
        @include grid-row();
        max-width:100%;
        text-align: center; 

        h2 {
            font-family: $font-primary-header;
            }
        
        #products-container {
            @include grid-column(9);
            padding: 0px !important;
            border-right: solid 1px lightgrey;
            font-family: $font-primary;
            

            h2 {
                background-color: #E2D4B7;
                margin: 0;
                padding: 20px 0px;
            }

            .row-items {
                @include grid-row();

                .items {
                    @include grid-column(12);
                    padding: 15px;
                    border-bottom: solid 1px lightgrey;

                    @include breakpoint($large-screen) {
                        @include grid-column(4);
                    }


                    img {
                        max-width: 50%;
                    }

                    button {
                        background-color: #4B644A;
                        color: white;
                        padding: 10px;
                        border-radius: 5px;
                    }

                    button:hover {
                        background-color: #A2C5AC;
                    }

                }
            }
        }

        #shopping-cart-container {
            @include grid-column(3);
            border: 1px solid red;

        }
    }
}