header {
    @include grid-row();
    background-color: #4aa853;
    max-width: 100%;

    nav {

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0;

            h1 {
                font-family: $font-primary-header;
            }

            li {
                list-style: none;
                padding: 10px 30px;
            }
        }
    }
}