header {
    @include grid-row();
    background-color: $primary-header-color;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo-container {
        display: flex;
        align-items: center;
        margin-right: 40%;
            

        h1 {
            font-family: $font-primary-header;
            font-size: 2.2em;
            color: $logo-primary-color;
        }

        #logo {
            width:15%;
        }
    }

    nav {

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0;
            font-family: $font-primary;

            li {
                list-style: none;
                padding: 10px 30px;

                a {
                    text-decoration: none;
                    color: $font-primary-color;
                }

                a:hover {
                    color: $hover-link-color;
                }
            }
        }
    }
}