#hero {
        max-width: 100%;
        background-image: url('../assets/succulent-banner.jpeg');
        height: 300px;
        background-position: center;
        background-size: cover;
        background-position-y: 65%;
    }