main {
    max-width: 100% !important;

    #hero {
        max-width: 100%;
        background-image: url('../assets/succulent-banner.jpg');
        height: 400px;
        background-position: center;
        background-size: cover;
        background-position-y: 90%;
    }
}
