h2 {
        background-color: $tertiary-header-color;
}

#shopping-cart-container {
    @include grid-column(3);
    position: relative;
    padding-bottom: 200px;

    #total-info {
        position: absolute;
        bottom: 0px;
        width: 95%;

        button {
            background-color: $secondary-btn-color;
        }

        button:hover {
            background-color: $hover-btn-color;
        }

        .total {
            font-weight: bold;
        }
    }

}